.body{
    position: relative;
    margin: 0 auto;
    
}

.head{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid 10px black;
    top: 70px;
    left: 230px;
    right: 300px;
    position: absolute;
    z-index: 10px;
}
.body-con{
    height: 100px;
    width: 10px;
    position: absolute;
    top: 130px;
    background: goldenrod;
    left: 260px;
}
.right-arm{
    height: 70px;
    width: 10px;
    position: absolute;
    background: rgb(206, 5, 5);
    top: 135px;
    right: 100px;
    rotate: -35deg;
    transform-origin: left bottom;
    left: 300px;
}
.left-arm{
    height: 70px;
    width: 10px;
    position: absolute;
    background: rgb(206, 5, 5);
    top: 130px;
    right: 100px;
    rotate: 35deg;
    transform-origin: left bottom;
    left: 220px;
}
.right-leg{
    height: 70px;
    width: 10px;
    position: absolute;
    background: rgb(206, 5, 5);
    top: 215px;
    right: 100px;
    rotate: -35deg;
    transform-origin: left bottom;
    left: 300px;
}
.left-leg{
    height: 70px;
    width: 10px;
    position: absolute;
    background: rgb(206, 5, 5);
    top: 210px;
    right: 100px;
    rotate: 35deg;
    transform-origin: left bottom;
    left: 220px;
}