.body{
    position: relative;
    margin: 30px;
    
}
.base{
    width: 150px;
    height: 10px;
    background-color: black;

}
.head{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid 10px black;
    top: 50px;
    left: 190px;
    right: 300px;
    position: absolute;
    z-index: 10px;
}
.body-con{
    height: 90px;
    width: 10px;
    position: absolute;
    top: 117px;
    background: goldenrod;
    left: 220px;
}
.right-arm{
    height: 70px;
    width: 10px;
    position: absolute;
    background: rgb(206, 5, 5);
    top: 135px;
    right: 100px;
    rotate: -35deg;
    transform-origin: left bottom;
    left: 260px;
}
.left-arm{
    height: 70px;
    width: 10px;
    position: absolute;
    background: rgb(206, 5, 5);
    top: 130px;
    right: 100px;
    rotate: 35deg;
    transform-origin: left bottom;
    left: 180px;
}
.right-leg{
    height: 70px;
    width: 10px;
    position: absolute;
    background: rgb(206, 5, 5);
    top: 195px;
    right: 100px;
    rotate: -35deg;
    transform-origin: left bottom;
    left: 260px;
}
.left-leg{
    height: 70px;
    width: 10px;
    position: absolute;
    background: rgb(206, 5, 5);
    top: 190px;
    right: 100px;
    rotate: 35deg;
    transform-origin: left bottom;
    left: 180px;
}

@media screen and (max-width:360px) {
    .body{
        margin: 0;
        padding: 0px;
        background-color: aliceblue;
    }
    
}